@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,800italic)

// Colors
$red: #e52d27
$blue-light: #f1faee
$blue-lighter: #a8dadc
$blue: #457b9d
$blue-dark: #1d3557

// Custom color names
$accent: $red

$vspace: 50px
$hspace: 30px

// Bootstrap variables
$brand-primary: $blue
$body-bg: white
$navbar-inverse-bg: $blue
$navbar-inverse-link-color: $body-bg


$font-family-sans-serif: 'Open Sans', sans-serif


@import "bootstrap"
@import "main"
