.navbar
  margin-bottom: $vspace * .75
  
  .navbar-brand
    font-weight: 800
    font-style: italic

.main-controls
  margin-top: 20px
  text-align: center

  button
    font-size: $font-size-large
    font-weight: 600
    padding: 15px 20px
    line-height: 1.2
    border-color: $accent

.media-controls
  .icon
    color: $gray-light
    margin-top: $padding-base-vertical * 1.2
    padding-right: 0

  .title
    @include text-overflow
    height: 100%
    margin: 0
    margin-top: $padding-base-vertical * 1.25

  .controls
    button
      color: $gray-light
      border-color: $gray-lighter
      background-color: transparent

  &.picture
    margin-top: $vspace * .5

  &.sound
    margin-bottom: $vspace * .5

.social-controls
  margin-top: 20px

  button
    color: $gray-light
    border: none
    background-color: transparent

    &:hover
      &.facebook
        color: #3b5998
      &.twitter
        color: #55acee
      &.link
        color: $gray

#surprise-me-button
  border-color: $accent
  background-color: $accent
