body
  padding-top: 50px

.starter-template
  padding: 40px 15px
  text-align: center

.navbar-brand
  font-weight: 800
  font-style: italic

#video-container
  margin: $vspace $hspace

#surprise-me-button
  margin: $vspace $hspace


  button
    font-size: $font-size-large
    font-weight: 700
    border-color: $accent
    background-color: $accent
    padding: 15px 20px
